# NEVER NEVER NEVER NEVER send these files to GIT. Webscrapers will pick up our secret keys WITHIN SECONDS and use it to launch AWS cloud computing. 
labExperiment/settings.py
labExperiment/keys/* 

# Don't send the data to git in relation to privacy
labExperiment/experiments/*/*/data/*

# Ignore swap files
*.swp

# Ignore pthon compiles
*.pyc

# Ignore all images
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max
